<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome to Vivek's Sabji Mandi</h1>
    

{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<br><br>

{% endblock %}
</body>
</html>